@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway&display=swap');

/*estilizando o corpo(body) contéudo inserido do documento*/

body {
    font-family: "Quicksand",sans-serif; /*tipo da fonte*/
    text-align: center; /*alinhando texto ao centro*/
    color: #fff; /*cor da fonte*/
    background-color: #333; /*cor de fundo da página*/
    padding: 0; /*espaçamento interno*/
    margin: 0; /*margem da página*/
}

/*estilizando a estrutura de navegação*/

nav {
    display: flex; /*colocar os elementos lado a lado*/
    justify-content: space-between; /*alinhar os elementos ao máximo na horizontal*/
    padding: 20px; /*espaçamento interno*/
    border-bottom: 1px solid #777; /*borda embaixo - sólida - cor*/
}

/*estilizando a UL onde contém a "lista" das páginas*/

nav ul{
    display: flex; /*todos os elementos lado a lado*/
    align-items: center; /*centraliza todos os elementos*/
    list-style: none; /*retira os pontinhos que ficam sendo exibidos porque criamos uma lista dentro do UL*/
}

/*estilizando a lista onde contem os elementos(Home,Projetos,Contatos)*/

ul li {
    margin-right: 12px; /*separa os elementos para que não fiquem grudados um ao outro*/
}

/*estlizando o link que está dentro do Ul - LI - A(link)*/

ul li a {
    color: #fff;
    text-decoration: none; /*retira o sublinhado dos links*/
}

/*estilizando o título*/
h1 {
    font-size: 32px; /*tamanho da fonte*/
    color: red;
    font-weight: 200; /*peso da fonte*/
}

/*estilizando a imagem*/
img {
    border: 1px solid #5262a6; /*inserido borda e cor em volta da imagem*/
    border-radius: 50px; /*estilizando para ela ficar redonda*/
}

footer {
    padding: 20px; /*espaçamento interno*/
    border-top: 1px solid #666; /*estilizando a borda no topo(top) - tamanho(px) - solida e a cor*/
    margin-top: 20px; /*estilizando a margem do topo(topo) e o tamanho*/
}