* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #f0ebf8;
}

h1, h2, h3, h4, h5 {
    color: #3f3e3e;
}

p, label {
    color: #4f4f4f;
}

.container-header {
    height: 130px;
    padding: 20px;
    background-image: url("../img/pexels-harun-tan-3980364.jpg");
    background-size: cover;
}

.container-header ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.container-header li {
    list-style: none;
    cursor: pointer;
}

.container-header li a {
    text-decoration: none;
    color: #ff751a;
    font-size: 18px;
    transition: 0.5s;
}

.container-header li a:hover {
    color: #fff;
}

h3 {
    padding: 20px;
    margin-left: 3%;
}

select {
    border: none;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    width: 150px;
}

input {
    border: none;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;
}

input[type="radio"] {
    margin: 5px;
}

textarea {
    padding: 10px 5px;
}

.form-container {
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -60px;
}

.form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-header p {
    border-bottom: 2px solid #ff751a;
    text-align: center;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
}

.form-body {
    padding: 30px;
}

.form-title {
    margin-bottom: 15px;
}

.form-title h1 {
    font-size: 30px;
}

.form-title p {
    margin-bottom: 15px;
    margin-top: 10px;
}

.required-filed {
    color: #d80835;
}

.block {
    display: block;
}

.box-input {
    margin-bottom: 35px;
    margin-top: 35px;
}

.box-input p {
    margin-bottom: 15px;
}

input[type="checkbox"] {
    margin: 5px;
}

.btn-submit {
    background-color: #ff751a;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    width: 130px;
    height: 60px;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #fff;
    border-color: #ff751a;
    color: #ff751a;
}
