@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

body {
    font-family: "Zilla+Slab", sans-serif; /*fonte escolhida para o site*/
    text-align: center; /*alinhando o texto ao centro*/
    background-color: #777; /*cor de fundo do site*/
    color: #fff; /*cor das letras do site*/
    padding: 0; /*espaçamento interno*/
    margin: 0; /*margem do site*/
}

nav {
    display: flex; /*alinhar os itens */
    justify-content: space-between; /*alinha os itens ao máximo na horizontal*/
    padding: 20px; /*espaçamento interno*/
    border-bottom: 2px solid #555; /*borda embaixo que ficará como se fosse uma régua*/
}

nav h1 {
    font-style: italic; /*fonte itálica para o site*/
    font-weight: bold; /*peso da fonte grossa*/
    color: floralwhite; /*cor da fonte*/
}

nav ul {
    display: flex; /*alinhar itens*/
    align-items: center; /*alinhar itens ao centro na vertical*/
    list-style: none; /*retira a bolinha da lista que fizemos através do html*/
}

nav ul li a {
    margin-left: 13px; /*margem a esquerda para separar os itens*/
    color: floralwhite;  /*cor da fonte*/
    font-weight: bold;  /*peso da fonte grossa*/
}

nav ul li a:hover {      /*estilização para quando passarmos o mouse alterar a cor*/
    color: aqua;         /*cor da fonte*/
    transition: 0.3em;   /*tempo que ficará aparecendo a cor quando passarmos o mouse*/
}

section img {
    width: 400px;  /*largura da imagem*/
    height: 200px;  /*altura da imagem*/
    margin-top: 2%;  /*margem ao topo*/
    border-radius: 50px;   /*criando borda para a imagem ficar como um circulo*/
}

section p {
    font-size: 20px;   /*tamanho da fonte*/
    font-weight: 400;  /*peso da fonte*/
    margin-top: 3%;     /*margem ao topo*/
}

article h2 {
    font-size: 32px;     /*tamanho da fonte*/
    font-weight: bolder;  /*peso da fonte*/
    margin-top: 6%;      /*margem ao topo*/
    color: maroon;      /*cor da fonte*/
}

article p {
    font-size: 17px; /*tamanho da fonte*/
    font-weight: bold; /*peso da fonte*/
    margin-bottom: 4%; /*margem para baixo*/
}

article h3 {
    font-size: 25px; /*tamanho da fonte*/
    font-weight: bolder; /*peso da fonte mais grossa*/
    margin-top: 6%; /*margem ao topo*/
    color: maroon;  /*cor da fonte*/
}

article p1 {
   display: flex;  /*alinhar os itens lado a lado*/
   justify-content: space-evenly;  /*alinha os itens com espaçamento igual*/
   color: black;  /*cor da fonte*/
   font-weight: bold; /*peso da fonte mais grossa*/
   margin-left: 5%; /*margem a esquerda*/
   margin-top: 4%; /*margem ao topo*/
}

article img {
    width: 200px; /*largura da imagem*/
    height: 200px; /*altura da imagem*/
    margin-right: 14%; /*margem para direita*/
}

hr {
    margin-top: 3%;
    border-bottom: 2px solid #555;
}

footer {
    color: black; /*cor da fonte*/
    display: center; /*alinhar os itens ao centro*/
    justify-content: center; /*alinhar todos os itens ao centro na horizontal*/
    align-items: center;    /*alinhar todos os itens ao centro na vertical*/
    margin-top: 3%; /*margem ao topo*/
}