/* Reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #f0ebf8;
}

h1, h2, h3, h4, h5 {
    color: #3f3e3e;
}

p, label {
    color: #4f4f4f;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}

/* Page Header */
.header {
    height: 160px;
    padding: 20px;
    background-color: #ff4d4d;
}

.header h3 {
    margin-top: 0;
}

/* 1 - Formulário -> form-container */
.form-container {
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

/* Cabeçalho -> form-header */
.form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.form-header p {
    border-bottom: 2px solid #ff4d4d;
    width: 90px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

/* Formulário - form-body */
.form-body {
    padding: 30px;
}

.form-title {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.required-field {
    color: #d80835;
}

.box-input {
    margin-bottom: 35px;
}

.block {
    display: block;
}


.optional-box li {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.box-input p {
    margin-bottom: 15px;
}

input[type="radio"] {
    margin: 5px;
}

.btn-submit {
    background-color: #ff4d4d;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #fff;
    border-color: #ff4d4d;
    color: #ff4d4d;
}

@media screen and (max-width: 768px) {
    input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
        width: 200px;
}
}