@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');

* {
    font-family: "Pathway+Extreme",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 10%;
    padding: 24px;
    border-radius: 50%;
}

nav ul {
    display: flex;
    gap: 100px;
    list-style: none;
    color: #fff;
}

nav a {
    text-decoration: none;
   color: #fff;
   font-size: 18px;
}

main {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.principal {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}

h2 {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
}

button {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 20px;
    margin-left: 20%;
    color: #2F2325;
    font-weight: 400;
    font-size: 24px;
}

button:hover {
    color: #96399d;
    background-color: #2F2325;
    transition: 0.4s;
}

.info img {
   width: 30%;
   margin-top: 2%;
   animation: avatar 0.4s ease-in-out;
}

@keyframes avatar {
    from {
        opacity: 0;
        transform: scaleY(-200px);
    }

    to {
        opacity: 1;
        transform: scaleY(0);
    }
}

.caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.caracteristicas h3 {
    border-top: 0.4px solid #FFF2E7;
    padding: 40px;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
}

.caracteristicas p {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin: 2%;
}

footer {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

footer span {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

footer img {
    width: 15%;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 20px;
    }

    nav a {
        font-size: 14px;
    }

    .principal {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    .principal h1 {
        font-size: 25px;
        margin-top: 30px;
    }

    .principal h2 {
        font-size: 15px;
        text-align: center;
        margin-top: 4%;
    }

    .avatar {
        display: none;
    }

    button {
        font-size: 14px;
        width: 140px;
        height: 40px;
        margin-left: 30%;
        margin-top: 6%;
    }

    button:hover {
    color: #96399d;
    background-color: #2F2325;
    transition: 0.4s;
    }

    .caracteristicas {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .caracteristicas h3 {
        font-size: 16px;
    }

    .caracteristicas p {
        font-size: 14px;
        text-align: center;
    }

    footer span {
        font-size: 14px;
    }

    .final {
        width: 40%;
    }
}