@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    font-family: "Manrope";
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color: #fff;
    align-items: center;
    padding: 10px 20px;
}

h1 {
    margin-left: 2%;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    transition: 0.4s;
    color: #884cab;
}

main {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    gap: 5em;
}

h2 {
    margin-left: 35%;
    font-style: italic;
}

.noticia1 {
    display: flex;
    margin: 1.5em;
    padding: 1em;
    flex-direction: column;
    gap: 0.5em;
    width: 600px;
    border: 1px solid #333;
    box-shadow: #222 4px 6px 8px;
}

.noticia2 {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    padding: 1em;
    gap: 0.5em;
    width: 600px;
    border: 1px solid #333;
    box-shadow: #222 4px 6px 8px;
    margin-top: 5%;
}

.noticia3 {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    padding: 1em;
    gap: 0.5em;
    width: 600px;
    border: 1px solid #333;
    box-shadow: #222 4px 6px 8px;
    margin-top: 5%;
}

img {
    height: 400px;
    object-fit: cover;
}

footer {
    text-align: center;
    background-color: #222;
    padding: 20px;
}

span {
    font-size: 20px;
    font-weight: bold;
}